---
title: "La Notte dei Ricercatori - Trento 28 settembre 2012"
short: "BTF presented to the Notte dei Ricercatori 2012"
layout: post
---
The ICT4G group partecipated to the <a href="http://events.unitn.it/nottericercatori2012">Researchers' Night</a> organized in Trento on September 28th, 2012.

It presented its project <a href="http://bringfood.org/">BringTheFood</a>.

During the event visitors had the opportunity of trying the system, collecting food to be donated to the Italian Food Bank (Banco Alimentare).
