---
title: "Merry Christmas and Happy New Year!"
layout: default
short: "Hoxs ho ho!"
date: 2014-12-22
---
<center>
    <span style="color:#1E3983;font-size: larger">
        <i class="fa fa-bell-o"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-bell-o"></i>
        <i class="fa fa-tree"></i>
        <i class="fa fa-bell-o"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-bell-o"></i>
        <br />
        Merry Christmas and Happy new year <br />
        from the ICT4G Group!! <br />
        Ho Ho Ho!!
        <br />

        <i class="fa fa-bell-o"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-bell-o"></i>
        <i class="fa fa-tree"></i>
        <i class="fa fa-bell-o"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-bell-o"></i>


        <% link_to "/downloads/2014-12-22-MerryChristmas.pdf" do %>
            !(img-framed)<%= aurl ("/images/posts/2014-12-22-MerryChristmas.png") %>!
        <% end %>
    </span>
</center>
