---
title: "Grazie FBK per la Colletta Alimentare"
layout: default
date: 2014-06-20 15:38:05 CEST
---
Vogliamo ringraziare il personale della "Fondazione Bruno Kessler":http:www.fbk.eu per la straordinaria risposta che ha dato in occasione della Colletta Alimentare di Mercoledì 18 Giugno. 
Abbiamo raccolto più di *100 kg, 35 litri (olio e latte) e 110 porzioni di alimenti* che sono stati donati al Banco Alimentare del Trentino Alto Adige.
La Colletta FBK è stata "riportata anche sul sito di Banco Alimentare":http://www.bancoalimentare.it/it/Colletta-Alimentare-in-FBK-Bring-food-Share-good ed è stata anche utile a noi per testare alcune funzioni dell’app "BringTheFood":http:www.bringfood.org.

Grazie di nuovo a tutti!

<iframe src="//player.vimeo.com/video/98641741" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/98641741">Colletta aziendale FBK - Bringfood.org</a> from <a href="http://vimeo.com/user29302747">Bring the Food</a> on <a href="https://vimeo.com">Vimeo</a>.</p>