---
title: "Introduction to Software Project Management"
layout: default
date: 2014-02-10 12:20:45 CET
---
<div class="row">
<div class="small-3 columns">
!/images/posts/2014-02-10-K15541_v3-thumb.jpg(book cover)!:http://www.spmbook.com
</div>
<div class="small-9 columns">
*Introduction to Software Project Management* by <br />
Adolfo Villafiorita 

is about to be released!

The book will be availabe in the U.S. from *February 20, 2014* and in Italy *March 3, 2014*.

More information about the book and additional material can be found on the "SPM Book website":http://www.spmbook.com
</div>
