---
title:
layout: default
---
# ICT4G Group

## We are a small group and we think big

We want to make a difference, using ICT to support communities in needs
and, possibly, contributing to a more sustainable world for future
generations.

We do so in three ways:

* First, by **building and experimenting** systems which
  directly or indirectly support people in need.
* Second, by **teaching the
  technologies we use and sharing our principles**, enabling others to share the
  same goals we have.
* Third, by **raising attention to the ICT4D domain** and our
  contributions in the area.

We value and enforce simplicity and efficacy in the tools we build and in
the code we write.

We have a strong applicative focus and we are currently working in the following areas:

* [Food](/food.html), where we are experimenting tools to reduce food waste and improve eating habits
* [Education](/education.html), with our intensive schools on web and mobile development (some of which are
  delivered in Southern Africa

See the directions to <a href="reach_us.html">reach us</a>.
