---
title: Reach us
layout: default
---
ICT4G is located on the first floor of the "New Building" of FBK's Scientific and Technology Hub:

<ul class="vcard">
  <li class="fn">ICT4G</li>
  <li class="fn">Fondazione Bruno Kessler</li>
  <li class="street-address">Via Sommarive, 18</li>
  <li><span class="zip">38122</span> <span class="city">Trento</span></li>
  <li><span class="province">TN</span></li>
</ul>

You can open it in "Google Maps":https://maps.google.com/maps?q=46.066893+11.150951+(FBK-IRST)&t=h&hl=en&ll=46.067157,11.151123&spn=0.031324,0.092182, <%= link_to "Apple Maps","http://maps.apple.com/?q='via Sommarive, 18, 38100 Trento, Italy'" %>, or "Bing":http://it.bing.com/maps/?v=2&cp=46.068040~11.150490&lvl=17&dir=0&sty=r&q=via%20sommarive%2C%2018%20trento&form=LMLTCC.

When you get to our building:

# register at the entrance desk
# enter the "New Building" (the one on your right)
# go to the first floor and turn on the left, reaching the south corridor, where our offices are located

<%= image_tag "/images/reach_us/fbk-building.png" %>

<span style="font-size:smaller">(The image of the FBK building is from "Bing":http://www.bing.com.)</span>

